@import url("https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.primary-color {
  background: #641566;
}

.btn-BgColor {
  background: #583781;
}

.Navlinks-Shadow {
  box-shadow: 0px 4px 4px 0px #00000040;
}

.cormaorant-regular {
  font-family: "Cormorant", serif;
  font-weight: 400;
}

.cormaorant-bold {
  font-family: "Cormorant", serif;
  font-weight: 700;
}

.Advantages-bgColor {
  background: #ee481447;
}

.linear-gradient {
  background: linear-gradient(
    257.29deg,
    rgba(153, 124, 152, 0.6) 6.5%,
    #ffffff 18.5%,
    rgba(159, 13, 118, 0.27) 41%,
    #ffffff 77.5%,
    rgba(153, 124, 152, 0.4) 90.5%
  );
}

.EnrollNowBG {
  background-image: url("./assets/EnrollNowBg.jpg");
  background-size: cover;
  background-position: center;
}

/* Default styles for small screens */
.EnrollNowBG {
  padding: 2rem;
  height: 240px;
}

/* Styles for medium to large screens */
@media (min-width: 768px) {
  .EnrollNowBG {
    padding: 6rem;
    height: auto; /* or any desired height */
  }
}
